.input-custom {
    padding-left: 25px;
    /* Ajuste o valor conforme necessário para mover o texto para a direita */
}

// .visibilidade:hover {    
//     width: auto !important;
//     opacity: 1; 
//     transition: width 0.6s ease;    
// }

// .visibilidade {
//     // display: none;
//     // opacity: 0;
//     width: 5vw;    
// }

.lista-icon:hover + .visibilidade {
    display: flex !important;
    opacity: 1;
    width: auto;
    transition: width 0.3s ease;
}

.btn-ghost:hover {
    background-color: lightblue;
}


