.input-custom {
    padding-left: 25px;
    /* Ajuste o valor conforme necessário para mover o texto para a direita */
}

.tabs:hover {
    width: auto !important;
    opacity: 1; 
}

.tabs {
    opacity: 0;
    width: 0vw;
}

.visibilidade {
    opacity: 1;
}