<!-- Open the modal using ID.showModal() method -->
<input type="checkbox" id="my-modal-1" class="modal-toggle"/>
<label for="my-modal-1" class="modal modal-open">
  <div class="modal-box">
    <h3 class="font-bold text-lg">O ícone é opcional</h3>
    <input [(ngModel)]="nomeLista" type="text" placeholder="Nome da lista" id="nomeLista" class="input input-bordered input-info w-full max-w-xs" />
    <input [(ngModel)]="valorInput" type="text" id="modal" name="modal" placeholder="Digite o nome do ícone" class="input input-bordered input-info w-full max-w-xs mt-2"/>
    <p class="py-4">Visualização do ícone</p>    
    <mat-icon>{{ valorInput }}</mat-icon>
    <div class="modal-action justify-between w-full">
      <!-- <form method="dialog"> -->
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-outline btn-info" (click)="salvar(0, nomeLista, valorInput)">Salvar</button>
        <button class="btn btn-outline btn-info" (click)="fecharModal()">Fechar</button>
      <!-- </form> -->
    </div>
  </div>
</label>
